{% extends 'base.html.twig' %}

{% block title %}Les Equipes NBA{% endblock %}

{% block body %}
    
    <div = class="container mt-4">
        <h1>Teams index</h1>

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
        </div>



    </div>

{% endblock %}
