{% extends 'base.html.twig' %}

{% block title %}Hello NBA{% endblock %}

{% block body %}

    <div class="container mt-4 mb-4">
<img src="https://media.ouest-france.fr/v1/pictures/MjAxNzEwYzRjZTE0Y2NlODA5MDgyNDQ3N2U1MTViM2U1YjhkZmY?width=630&focuspoint=50%2C25&cropresize=1&client_id=bpeditorial&sign=0a88abd4224edbbe7b0bb0520dc7f6beeb175de6fc64d71479528a4ff0f2d8f3" class="img-fluid" alt="...">
        <div>
            <h1 class="text-fluid">Conférence EST</h1>
            <img src="https://upload.wikimedia.org/wikipedia/fr/2/2c/Conf%C3%A9rence_Est_NBA.gif" class="rounded float-start" alt="Conférence Est">
        </div>
        <div>          
            <h1 class="text-fluid">Conférence EST</h1>
            <img src="https://upload.wikimedia.org/wikipedia/fr/0/0a/Logo_Conf%C3%A9rence_Ouest.jpg" class="rounded float-end" alt="Conférence Est">
        </div> 

        

    </div>

{% endblock %}
