{% extends 'base.html.twig' %}

{% block title %}Hello NBA
{% endblock %}

{% block body %}

	<div class="container mt-4 mb-4">

        	<img src="https://www.basketusa.com/wp-content/uploads/2011/03/histoire-logos-franchises-nba.jpg" class="img-fluid ms-4 mx-auto" style="width: 800px" alt="">

	</div>

{% endblock %}
