{% extends 'base.html.twig' %}

{% block title %}Edit Teams{% endblock %}

{% block body %}
    <h1>Edit Teams</h1>

    {{ include('back/teams/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_teams_index') }}">back to list</a>

    {{ include('back/teams/_delete_form.html.twig') }}
{% endblock %}
